SpeechRecognition==3.10.1
rwkv==0.8.25
rwkvstic==2.1.2
pyttsx3==2.90
torch==2.2.1
numpy==1.26.4
scipy==1.12.0
librosa==0.10.1
Unidecode==1.3.8
inflect==7.0.0
mysql-connector-python==8.3.0
asyncio==3.4.3
tensorflow==2.15.0
PyAudio==0.2.14
spacy==3.7.4
gensim==4.3.2
nltk==3.8.1
python_speech_features==0.6